
@model Projeto.WEB.Models.ClienteCadastroModel

<!DOCTYPE html>
<style type="text/css">
    .error {
        color: red;        
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudo .Net</title>
    
</head>
<body>
    <div>
        <h1>Cadastro de Clientes</h1>
        <a href="/Home/Index">Página inicial</a>
        <hr />

        @*<form>*@
        @using (Html.BeginForm("Cadastro", "Cliente", FormMethod.Post))
        {
            <label>Nome do Cliente:</label> <br />
            @*<input type="text" name="Nome" placeholder="Digite Aqui" />*@
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Digite aqui" })
            @Html.ValidationMessageFor(model => model.Nome, string.Empty, new { @class = "error" })

        
            <br /><br />

            <label>E-mail do Cliente:</label> <br />
            @*<input type="text" name="Email" placeholder="Digite Aqui" />*@
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Digite aqui" })
            @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "error" })




            <br /><br />

            <input type="submit" class="btn btn-success" value="Cadastrar Cliente" />
            <br /><br />

            <strong>@ViewBag.Mensagem</strong>
        }
        @*</form>*@

    </div>
</body>
</html>
