
<!--É preciso declarar a classe de modelo desta página -->
@model List<Projeto.WEB.Models.ClienteConsultaModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estudo .Net</title>
    <link href="~/Content/bootstrap.min.css"/>

</head>
<body class="container">
    <div> 
        <h1>Consulta de Clientes</h1>
        <a href="/Home/Index">Página Inicial</a>

        <div>
            @ViewBag.Mensagem
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Cliente</th>
                    <th>Email</th>
                    <th>Data de Cadastro</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var v in Model)
                {
                <tr>
                    <td>@v.IdCliente</td>
                    <td>@v.Nome</td>
                    <td>@v.Email</td>
                    <td>@v.DataCadastro</td>
                    <td>
                        <a href="/Cliente/Edicao?idCliente=@v.IdCliente" class="btn btn-primary btn-sm">Atualizar</a>
                        <a href="/Cliente/Exclusao?idCliente=@v.IdCliente" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        Quantidade de Clientes: @Model.Count
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
<script type="text/javascript">]
    function confirmExclusao(){
        return window.confirm('Deseja excluir o cliente selecionado?');
    }


</script>
</body>
</html>

